<!DOCTYPE html>
<html>
    <head lang="en"><meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="../assets/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/lib/layui/css/layui.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/_temp_calc.css"/>
        <title>加班空调申请</title>
    </head>
    <body>
        <div class="container">
            <div class="table-style mt40">
                <h3 class="tc">会议室使用情况</h4>
                <table class="w-full">
                    <thead>
                        <tr>
                            <td align="center">会议室</td>
                            <td align="center">使用时长</td>
                            <td align="center">费用</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">会议室A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">会议室A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">会议室A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">会议室A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-style mt40">
                <h3 class="tc">加班空调使用情况</h4>
                <table class="w-full">
                    <thead>
                        <tr>
                            <td align="center">空调</td>
                            <td align="center">使用时长</td>
                            <td align="center">费用</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">空调A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">空调A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">空调A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                        <tr>
                            <td align="center">空调A</td>
                            <td align="center">48小时</td>
                            <td align="center">500元</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-style mt40">
                <!-- <h3 class="tc">本月总计：加班空调1000元+会议室预定1000元</h4> -->
            </div>

        </div>
    </body>
    <script type="text/javascript" src="/assets/js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="/assets/js/user.js"></script>
    <script>

    </script>
</html>