<!DOCTYPE html>
<html>
    <head lang="en"><meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>会议室密码</title>
        <style>
            img {
                display: block;
                width: 200px;
                height: 200px;
                margin: 100px auto 0;
            }
            p {
                text-align: center;
                font-size: 14px;
                color: #999;
            }
        </style>
    </head>
    <body>
        <img src="lock-key.jpg" alt="">
        <p>扫码进入会议室</p>
    </body>
</html>