<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooki.system.amme.ammeter.mapper.AmmeterLoginMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wooki.system.amme.ammeter.entity.AmmeterLogin">
		<id column="Uuid" property="Uuid" />
		<result column="Aid" property="Aid" />
		<result column="Userid" property="Userid" />
		<result column="Nick" property="Nick" />
		<result column="Pass" property="Pass" />
		<result column="Tel" property="Tel" />
		<result column="phone" property="phone" />
		<result column="Addr" property="Addr" />
		<result column="Email" property="Email" />
		<result column="Birthday" property="Birthday" />
		<result column="Sign" property="Sign" />
		<result column="Company" property="Company" />
		<result column="Office" property="Office" />
		<result column="Imtoken" property="Imtoken" />
		<result column="Openid" property="Openid" />
		<result column="Avatarpath" property="Avatarpath" />
		<result column="Isman" property="Isman" />
		<result column="Admin" property="Admin" />
		<result column="Status" property="Status" />
		<result column="Expand" property="Expand" />
		<result column="Adduid" property="Adduid" />
		<result column="Lastuid" property="Lastuid" />
		<result column="Addtime" property="Addtime" />
		<result column="Lasttime" property="Lasttime" />
		<result column="token" property="token" />
	</resultMap>

</mapper>
